name: deployment-service
services:
  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - ./promtail:/etc/promtail
      - ${LOGGING_DIR}:/logs:ro
    command: -config.file=/etc/promtail/promtail-config.yaml
    networks:
      - monitoring
    restart: unless-stopped

networks:
  monitoring:
    external: true
    name: monitoring_monitoring