{
  "name": "{{.PackageName}}",
  "version": "{{.Version}}",
  "description": "{{.Description}}",
  "main": "dist/index.js",
  "types": "dist/index.d.ts",
  "scripts": {
    "format-fix": "prettier . --write",
    "generate-openapi-client": "openapi-ts && npm run format-fix",
    "build": "tsc"
  },
  "keywords": [
    "openapi",
    "typescript",
    "sdk",
    "{{.ServiceName}}"
  ],
  "author": "Anson Allard",
  "files": [
    "dist",
    "{{.OpenAPIFileName}}"
  ]
}