openapi: 3.0.2
info:
  title: Deployment Service Model
  version: 0.1.0
servers:
  - url: /v1
paths:
  /services:
    post:
      security:
        - APIKey: []
      tags:
        - Services
      operationId: CreateService
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateServiceRequest"
      responses:
        200:
          $ref: "#/components/responses/CreateServiceResponse"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/UnAuthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        409:
          $ref: "#/components/responses/Conflict"
        429:
          $ref: "#/components/responses/TooManyRequests"
        5XX:
          $ref: "#/components/responses/InternalServerError"
    get:
      security:
        - APIKey: []
      tags:
        - Services
      operationId: ListServices
      parameters:
        - $ref: "#/components/parameters/MaxResults"
        - $ref: "#/components/parameters/NextTokenInput"
      responses:
        200:
          $ref: "#/components/responses/ListServicesResponse"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/UnAuthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        429:
          $ref: "#/components/responses/TooManyRequests"
        5XX:
          $ref: "#/components/responses/InternalServerError"

  /services/{name}:
    get:
      security:
        - APIKey: []
      tags:
        - Services
      operationId: GetService
      parameters:
        - $ref: "#/components/parameters/Name"
      responses:
        200:
          $ref: "#/components/responses/GetServiceResponse"
        401:
          $ref: "#/components/responses/UnAuthorized"
        403:
          $ref: "#/components/responses/Forbidden"
        404:
          $ref: "#/components/responses/NotFound"
        429:
          $ref: "#/components/responses/TooManyRequests"
        5XX:
          $ref: "#/components/responses/InternalServerError"

components:
  schemas:
    CreateServiceRequest:
      type: object
      additionalProperties: false
      required:
        - service
      properties:
        service:
          $ref: "#/components/schemas/ServiceInput"
    CreateServiceResponse:
      type: object
      additionalProperties: false
      required:
        - service
      properties:
        service:
          $ref: "#/components/schemas/Service"
    GetServiceResponse:
      type: object
      additionalProperties: false
      required:
        - service
      properties:
        service:
          $ref: "#/components/schemas/Service"
    ListServicesResponse:
      type: object
      additionalProperties: false
      required:
        - services
      properties:
        services:
          $ref: "#/components/schemas/Services"
        nextToken:
          $ref: "#/components/schemas/NextToken"
    Services:
      type: array
      items:
        $ref: "#/components/schemas/Service"
    ServiceInput:
      type: object
      additionalProperties: false
      required:
        - name
        - git
        - configuration
      properties:
        name:
          $ref: "#/components/schemas/Name"
          required: true
        git:
          $ref: "#/components/schemas/GitConfiguration"
        configuration:
          $ref: "#/components/schemas/ServiceConfiguration"
    ServiceConfiguration:
      type: object
      oneOf:
        - $ref: "#/components/schemas/NPMConfiguration"
        - $ref: "#/components/schemas/OpenAPIConfiguration"
      # - $ref: "#/components/schemas/GoConfiguration"
      # - $ref: "#/components/schemas/NginxConfiguration"
    NPMConfiguration:
      type: object
      additionalProperties: false
      required:
        - npm
      properties:
        npm:
          $ref: "#/components/schemas/NPMConfigurationChoices"
    NPMConfigurationChoices:
      type: object
      oneOf:
        - $ref: "#/components/schemas/NPMService"
        - $ref: "#/components/schemas/NPMLibrary"
    NPMService:
      type: object
      additionalProperties: false
      required:
        - service
      properties:
        service:
          $ref: "#/components/schemas/NPMServiceConfiguration"
    NPMServiceConfiguration:
      type: object
      additionalProperties: false
      required:
        - envPath
        - dockerfilePath
        - dockerComposePath
        - envVars
      properties:
        envPath:
          $ref: "#/components/schemas/EnvPath"
        dockerfilePath:
          $ref: "#/components/schemas/DockerfilePath"
        dockerComposePath:
          $ref: "#/components/schemas/DockerComposePath"
        envVars:
          $ref: "#/components/schemas/EnvVars"
    EnvVars:
      type: object
    EnvPath:
      type: string
      description: Path to .env file in service
    DockerfilePath:
      type: string
      description: Path to Dockerfile file in service
    DockerComposePath:
      type: string
      description: Path to docker-compose file in service
    NPMLibrary:
      type: object
      additionalProperties: false
      required:
        - library
      properties:
        library:
          $ref: "#/components/schemas/NPMLibraryConfiguration"
    NPMLibraryConfiguration:
      type: object
    GoConfiguration:
      type: object
      additionalProperties: false
    OpenAPIConfiguration:
      type: object
      additionalProperties: false
      required:
        - openapi
      properties:
        openapi:
          $ref: "#/components/schemas/OpenAPIConfigurationChoices"
    OpenAPIConfigurationChoices:
      type: object
      additionalProperties: false
      required:
        - yamlFile
      properties:
        yamlFile:
          type: string
          description: Absolute path to openapi definition in yaml format
        typescriptClient:
          $ref: "#/components/schemas/OpenAPITypescriptClientConfig"
        goClient:
          $ref: "#/components/schemas/OpenAPIGoClientConfig"
    OpenAPITypescriptClientConfig:
      type: object
      properties:
        name:
          type: string
          description: Name of Typescript client. Service defined scope will be added.
      required:
        - name
    OpenAPIGoClientConfig:
      type: object
      properties:
        name:
          type: string
          description: Name of go client.
      required:
        - name
    NginxConfiguration:
      type: object
      additionalProperties: false
    GitConfiguration:
      type: object
      oneOf:
        - $ref: "#/components/schemas/GitConfigurationOptions"
    GitConfigurationOptions:
      type: object
      additionalProperties: false
      required:
        - sshUrl
        - branchName
      properties:
        sshUrl:
          $ref: "#/components/schemas/SSHUrl"
        branchName:
          $ref: "#/components/schemas/BranchName"
    SSHUrl:
      type: string
      pattern: ^git@.+\.git$
    BranchName:
      type: string
    Service:
      type: object
      required:
        - id
        - name
        - git
        - configuration
      additionalProperties: false
      properties:
        id:
          $ref: "#/components/schemas/ID"
        name:
          $ref: "#/components/schemas/Name"
        git:
          $ref: "#/components/schemas/GitConfiguration"
        configuration:
          $ref: "#/components/schemas/ServiceConfiguration"
    ID:
      type: string
      description: Resource ID - ULID
      minLength: 26
      maxLength: 26
    Name:
      type: string
      description: Service Name
    Version:
      type: string
    NextToken:
      type: object
      description: Pagination token
      properties:
        nextToken:
          type: string
  parameters:
    ID:
      name: id
      required: true
      in: path
      schema:
        $ref: "#/components/schemas/ID"
    Name:
      name: name
      required: true
      in: path
      schema:
        $ref: "#/components/schemas/Name"
    If-Match:
      name: If-Match
      in: header
      required: true
      description: Field for optimistic locking
      schema:
        $ref: "#/components/schemas/Version"
    MaxResults:
      name: max_results
      in: query
      required: false
      description: Max number of results to return when paginating
      schema:
        type: integer
        default: 100
        minimum: 1
        maximum: 100
    NextTokenInput:
      name: next_token
      in: query
      required: false
      description: Pagination token
      schema:
        type: string
  responses:
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Conflict:
      description: Resource conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    PreConditionFailed:
      description: Precondition Failed
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    UnAuthorized:
      description: Not Authorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    TooManyRequests:
      description: TooManyRequests
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    CreateServiceResponse:
      description: Create Service Response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateServiceResponse"
      headers:
        ETag:
          $ref: "#/components/headers/ETag"
    GetServiceResponse:
      description: Get Service Response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetServiceResponse"
      headers:
        ETag:
          $ref: "#/components/headers/ETag"
    ListServicesResponse:
      description: List Service Response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListServicesResponse"
  headers:
    ETag:
      # required: true
      description: The version of the resource you requested
      schema:
        $ref: "#/components/schemas/Version"
  securitySchemes:
    APIKey:
      type: apiKey
      name: X-Api-Key
      in: header
